/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #194676;
  --ifm-color-primary-dark: #163f6a;
  --ifm-color-primary-darker: #153b64;
  --ifm-color-primary-darkest: #113153;
  --ifm-color-primary-light: #1b4d82;
  --ifm-color-primary-lighter: #1d5088;
  --ifm-color-primary-lightest: #215b99;
  --docusaurus-highlighted-code-line-bg: #d5cfce;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
  --ifm-color-primary: #c7d6f4;
  --ifm-color-primary-dark: #a2bbed;
  --ifm-color-primary-darker: #8fade9;
  --ifm-color-primary-darkest: #5885de;
  --ifm-color-primary-light: #ecf1fb;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}

